.about-section{
    padding: 15rem 0 ;
    background-color: $color-gray-light-1;

    @include response(phone){
        display: none;

    }

}

.staff-section{

    .image-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;

    }
}

.country-main-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
}
.country-container{
    width: 30%;
    height: 50vh;
    position: relative;
    box-shadow: 0 8px 10px rgba(#777, .4);
    margin: 10px 10px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}
.country-container img:hover{
    transform: scale(1);
    filter: blur(10px);
}
.country-container:hover .flag-icon{
    opacity: 1;
}
.country-flag{
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}
.flag-icon{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}
@media screen and (max-width: 600px) {

    .country-container{
        width: 100%;
        height: 60vh;
        position: relative;
        box-shadow: 0 20px 10px rgba(#777, .6);
        margin: 10px 10px;
        border: 2px solid rgb(250, 83, 83);
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }
    .country-container img:hover{
        transform: scale(1);
        filter: blur(10px);
    }
    .country-container:hover .flag-icon{
        opacity: 1;
    }

}

.review{
    width: 75%;
    box-shadow: 4px 4px 10px black; 
    background-color: $color-white;
    display: block;
    padding: 6rem;
    font-size:1.6rem;
    margin: 3rem auto;

    @include response(phone){
        width: 90%;

    }

    &__shape{
        width: 12rem;
        float: left;
        height: 12rem;
        margin: 0;
        cursor: pointer;
        //create a circle from th background and make text flow around the element
        shape-outside: circle(50%);
        clip-path:circle(50%);
        transform: translateX(-3rem);
        
    }
    &__image{
        height:100%;
        width:100%;
        transform: scale(1.5);
    }
    &__caption{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        text-transform: uppercase;
        opacity: 0;
        text-align: center;
        opacity: 0;
        color: $color-white;
        transition: all .5s;
    }
    &__shape:hover &__caption{
        opacity: 1;
    }
    &__shape:hover &__image{
        /**we set the scale of the iage back to one from 1.5 above to give effect of moving bckwards*/
        transform: scale(1);
        
    }
    
}


.contact-section{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}
.form{
    display: flex;
    position: relative;
    padding: 2rem;
    width: 50%;
    flex-direction: column;
    background-color: rgba($color-primary, .1);
    justify-content: center;
    box-shadow: 2px 2px 10px black;

    @include response(phone){
        width: 90%;
    }

    
}

