.header-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;

}
/**block cretae line breaks before and after them*/
.header-primary-main{
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.header-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 3px;


}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary-dark;
    letter-spacing: .2rem;
  }

  .heading-tertiary{
    font-size: 1.8rem;
    color: $color-primary-dark;
    font-weight: 700;
    text-transform: uppercase;
  }

  .paragraph{
    font-size: 1.6rem;
  
  }
  .paragraph:not(:last-child){
    margin-bottom: 3rem;
  }