.svg-icon{
    width: 4.2rem;
    height: 4.2rem;
    fill: greenyellow;
}

.u-center-text{
    text-align: center;
}

.u-center-text{
    text-align: center;
  }
.u-margin-bottom-small{
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium{
  margin-bottom: 4rem;
}
.u-margin-bottom-big{
  margin-bottom: 8rem;
}
.u-margin-top-big{
  margin-bottom: 8rem;
}
.u-margin-top-huge{
  margin-bottom: 8rem;
}