@mixin removeDefaultButtonStyle{
    background-color:transparent;
    outline: none;
    border: none;
    overflow: hidden;
    position: relative;
}

@mixin response($device){
    @if $device == phone {
        @media only screen and (max-width: 600px) {
            @content
        };
    }
   
}