/**NAVIGATION BUTTON STYLING **/
.navigation{

    &__checkbox{
        display: none;
    }
    //create navigation button
    &__button{
        width: 6rem;
        height: 6rem;
        position: fixed;
        cursor: pointer;
        top: 10px;
        right: 10px;
        background-color: $button-color;
        z-index: 10;
    }

    &__background{
        position: fixed;
        width: 6rem;
        height: 6rem;
        background-image:radial-gradient($color-primary-light, $color-primary-dark);
        top: 10px;
        z-index: 8;
        right: 10px;

    }

    
    &__checkbox:checked ~ &__background{
        transform: scale(200);
    }

    &__checkbox:checked ~ &__button &__icon::before{
        transform: rotate(45deg);
        top: 0;
    }

    &__checkbox:checked ~ &__button &__icon::after{
        transform: rotate(-45deg);
        top: 0;
    }

    &__checkbox:checked ~ &__button &__icon{
        background-color: transparent;
    }

    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);


        &,
        &::before,
        &::after{
            background-color: black;
            position: absolute;
            width: 3rem;
            height: 2px;
        }

        &::before,
        &::after{
            content: "";
            left: 0;
        }

        &::before{
            top: -.8rem;
        }

        &::after{
            top: .8rem;
        }

    }

    &__nav{
        height: 100vh;
        z-index: 9;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
        position: fixed;
    }

    &__checkbox:checked ~  &__nav{
        opacity: 1;
        width: 100%;
    }
    &__list{
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &__item{
        list-style: none;
        font-size: 3rem;
        text-transform: uppercase;
    }
    &__link{

        text-decoration: none;
        &:link,
        &:visited{
            background-size:  300%;
            background-image: linear-gradient(120deg,transparent 0%, transparent 50%, white 50%);
            color: $color-white;
            display: inline-block;
        }

        &:hover,
        &:active{
            background-position: 100%;
            color:$color-primary;

        }
    }


}